<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.spring.common.typehandler.StringArrayTypeHandler" alias="strArrTypeHandler"/>
    	<package name="com.kh.spring"/>    	
	</typeAliases>
	<typeHandlers>
		<!-- 해당패키지의 모든 TypeHandler구현클래스를 등록함 -->
		<package name="com.kh.spring.common.typehandler"/>
	</typeHandlers>
</configuration>
