@CHARSET "UTF-8";

#chat-container .mytext{
    border:0;padding:10px;background:whitesmoke;
}
#chat-container .text{
    width:75%;display:flex;flex-direction:column;
}
#chat-container .text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
#chat-container .text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
#chat-container .text-l{
    float:left;padding-right:10px;
}        
#chat-container .text-r{
    float:right;padding-left:10px;
}
#chat-container .avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}

#chat-container .avatar img{
	width: 30px;
    border-radius: 30%;
}
#chat-container .macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
#chat-container .msj-rta{
    float:right;background:whitesmoke;
}
#chat-container .msj{
    float:left;background:white;
}
#chat-container.frame{
    background: #e0e0de;
    height: 450px;
    padding: 0;
    position: absolute;
    bottom: 30px;
    right: 30px;
    overflow-y: auto;
}
#chat-container.frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}
#chat-container ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:60px;
    display:flex;
    flex-direction: column;

}
#chat-container .msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
#chat-container .msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  
#chat-container input:focus{
    outline: none;
}        
#chat-container ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
#chat-container ::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
#chat-container :-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
#chat-container :-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}   
