<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="menu">
  <select id="selectAll" resultType="menu">
  	select 
  		*
  	from 
  		menu
  	order by
  		id desc
  </select>

  <select id="selectMenuByType" resultType="menu">
  	select 
  		* 
  	from 
  		menu
  	where 
  		type = #{type}
  </select>

  <select id="selectMenuByTypeAndTaste" resultType="menu">
  	select 
  		* 
  	from 
  		menu
  	<where>
  		<if test="type != 'all'">
  			type = #{type}
  		</if>
  		<if test="taste != 'all'">
  			and taste = #{taste}
  		</if>
  	</where>
  	order by 
  		restaurant, id
  </select>
  
  <insert id="insertMenu">
  	insert into 
  		menu 
  	values(
  		seq_menu.nextval,
  		#{restaurant},
  		#{name},
  		#{price},
  		#{type},
  		#{taste}
  	)
  </insert>
  
  <select id="selectOneMenu" resultType="menu">
  	select 
  		* 
  	from 
  		menu
  	where 
  		id = #{id}
  </select>
  
  <update id="updateMenu">
  	update 
  		menu 
  	set 
  		restaurant = #{restaurant},
  		name = #{name},
		price = #{price},
		type = #{type},
		taste = #{taste}
  	where 
  		id = #{id}
  </update>
  
  <delete id="deleteMenu">
  	delete from 
  		menu 
  	where 
  		id = #{id}
  </delete>
  
</mapper>
